@model MaintenanceSchedule.Web.Areas.Common.Models.AccountViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập</title>
    <!-- Css -->
    @Styles.Render("~/Css/SignIn")
    <!-- Javascript -->
    @Scripts.Render("~/Js/SignIn")
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Đặt lịch bảo dưỡng</strong></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <h3>Đăng nhập vào hệ thống</h3>
                            <p>Nhập tên và mật khẩu:</p>
                            @if (!MvcHtmlString.IsNullOrEmpty(Html.ValidationSummary()))
                            {
                                @Html.ValidationSummary()
                            }
                        </div>
                        <div class="form-bottom">
                            @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { area = "Common", @class = "login-form", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Tên đăng nhập</label>
                                    @Html.TextBoxFor(s => s.Email, new { placeholder = "Tên đăng nhập", @class = "form-username form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Mật khẩu</label>
                                    @Html.PasswordFor(s => s.Password, new { placeholder = "Mật khẩu", @class = "form-password form-control" })
                                </div>
                                <button type="submit" class="btn">Đăng nhập</button>
                            }
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                            <h3>...or login with:</h3>
                            <div class="social-login-buttons">
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-facebook"></i> Facebook
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-google-plus"></i> Google Plus
                                </a>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>

    </div>

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
</body>
</html>
